[GLOBAL]

; xml or json
format = "json"
;format = "xml"

[development : GLOBAL]

api_key = "your api key here"
hostname = "yourhostname.chargify.com"
; password is always 'x' so it is not needed in child sections of this config
password = "x"
shared_key = "your shared key"